<div>
    {{this.greeting}}, {{@name}}!

    <select onchange={{this.updateLanguage}}>
    <option value="en">English</option>
    <option value="de">German</option>
    <option value="es">Spanish</option>
    </select>
</div>