<h2>dropdown test</h2>
{{#basic-dropdown as |dropdown|}}
    {{#dropdown.trigger}}Dropdown{{/dropdown.trigger}}
    
    {{#dropdown.content}}
      <p>Content of the trigger</p>
      <p>Content of the trigger2</p>
      <p>Content of the trigger3</p>
    {{/dropdown.content}}
{{/basic-dropdown}}
